@keyframes text-gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.aurora-text {
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: text-gradient 3s linear infinite;
  display: inline-block;
}

.aurora-text-blue {
  background-image: linear-gradient(
    to right,
    #4F46E5,
    #06B6D4,
    #8B5CF6,
    #3B82F6,
    #10B981,
    #4F46E5
  );
}

.aurora-text-purple {
  background-image: linear-gradient(
    to right,
    #8B5CF6,
    #6366F1,
    #3B82F6,
    #0EA5E9,
    #06B6D4,
    #8B5CF6
  );
}

.aurora-text-pink {
  background-image: linear-gradient(
    to right,
    #EC4899,
    #D946EF,
    #8B5CF6,
    #6366F1,
    #EC4899
  );
} 